package components

templ App() {
    <div id="app">
        <form>
            <div id="journal-textarea" style="margin-bottom: 15px;">
                <span>⬅️ <b>10/05</b> ➡️</span>
                <textarea autofocus></textarea>
            </div>

            // <button type="submit">Save</button>

            @energySlider(0, 100, energyThresholds)
            @emotionSelection(emotionOptions)
        </form>
    </div>
}