* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: var(--grey-800);
}

body {
    height: 100%;
    overflow: hidden;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.5rem;
}

@media (min-width: 600px) {
    navbar {
        padding: 0 2rem;
    }
  }

.logo {
    font-family: serif;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

:root {
    --purple-primary: #6b48ff;
    --purple-secondary: #8c48ff;
    --red-primary: #D22B2A;
    --grey-800: #333;
    --grey-400: #666;
    --grey-200: #aaaaaa;
}