* {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
    color: var(--grey-800);
}

body {
    margin: 1rem;
    overflow-x: hidden;
}

navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

button {
    padding: 2px 4px;
}

main {
    height: 80vh;
}

footer {
    height: 10vh;
}

@media (min-width: 600px) {
    navbar {
        padding: 0 2rem;
    }
}

.logo {
    font-family: serif;
    color: black;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

:root {
    --purple-primary: #6b48ff;
    --purple-secondary: #8c48ff;
    --blue-primary: #268bff;
    --blue-secondary: #5ba7ff;
    --red-primary: #D22B2A;
    --grey-800: #333;
    --grey-400: #666;
    --grey-200: #aaaaaa;
}